.Heading {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.AccountNum {
  width: 15vw;
  font-weight: 700;
}

.AccountName {
  width: 15vw;
  font-weight: 700;
}

.Currency {
  width: 15vw;
  font-weight: 700;
}

.Amount {
  width: 15vw;
  font-weight: 700;
}

.TransactionType {
  width: 15vw;
  font-weight: 700;
}