.Transaction {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.5;
}

.AccountNum {
  width: 15vw;
}

.AccountName {
  width: 15vw;
}

.Currency {
  width: 15vw;
}

.Amount {
  width: 15vw;
}

.TransactionType {
  width: 15vw;
}